<style>
    .editor-bowl {
        width : 100%; 

        display : flex;
        flex-direction : column;
        justify-content : flex-start;
        align-items : start;
    }
    .file-name-bar {
        width : 100%; 
        background : var(--white);  
        border-bottom : .1em solid var(--gray-2);

        display : flex;
        justify-content : flex-start;
        align-items : start;
    }
    .file-name-cont {
        background : var(--gray-2);
        padding: .5em;
    }
    .pre { 
        width : 100%; 
        height : calc(100vh - 5.5em);
        overflow : auto;

        padding : 1em 2em;
        outline : none; 
        font-weight : 400;
        font-size : 1em; 
        color : var(--black-3); 
        line-height : 1.15em;  

        display : flex; 
        flex-direction : column;
        justify-content : flex-start;
        align-items : start;
    }  
    .pre .line {
        width : 100%; 

        display : flex; 
        justify-content : flex-start;
        align-items : start;
        gap : 1em;
    } 
    
</style>

<div class='editor-bowl'> 
    <div class='file-name-bar'>
        <div class="file-name-cont">koi.koi</div>
    </div>
    <pre class="pre" contenteditable="true" style='white-space: pre;' autocorrect="off" autocapitalize="off" spellcheck="false">
Open a file
</pre> 
</div>

<script>
    {% include "../js/editor.js" %}
</script> 
